/* LOGO CSS */
.logo {
    margin-right: auto;
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #cfe8f6;
}

.logo strong{
    color:green
}

.logo:hover span{
    color: green;
    transition: 0.3s ease-in-out;
}

.logo:hover strong{
    color: #cfe8f6;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.5);
}